.back-button {
    width: 80px;
    height: 30px;
    background: #34a853;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.back-button:hover {
    background: #3a9c85;
}