.write-review-page {
    background: #763E15;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.write-review-title {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    margin: 0px;
}

.rating-form {
    background: #FDF7E9;
    margin: 10px 40px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.category {
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin: 5px 30px;
}

.post-btn {
    background: #47AD96;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 600;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    cursor: pointer;
}

.input-div {
    border: solid 1px black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 3px 30px;
    padding: 5px;
    height: 25px;
}

.fields {   
    margin: 0px;
    width: 100%;
    border: none;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.star-div {
    border: solid 1px black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 3px 30px;
    padding: 5px;
}

.rating-icon {
    width: 25px;
    margin: 0 5px;
}

.cat-comment {
    height: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}