.read-review-page {
    background: #763E15;
    height: 100vh;
    overflow-x: hidden;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.logo-icon-name {
    display: flex;
    align-items: center;
}

.book-nook-logo-2 {
    width: 55px;
}

.book-nook-name {
    font-size: 25px;;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 900;
    margin: 5px;
}

.profile-btn {
    width: 50px;
    cursor: pointer;
}

.write-btn-container {
    margin: 25px;
    display: flex;
    justify-content: center;
}

.write-btn {
    width: 260px;
    height: 35px;
    background: #E15C45;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.write-btn:hover {
    background: #ca4d37;
}

.study-spot-info {
    display: flex;
    align-items: center;
    margin: 15px 10px;
    background: #34a853;
    justify-content: space-between;
    padding: 0px 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.study-spot-icon-name {
    display: flex;
}

.study-spot-icon {
    width: 35px;
}

.study-spot-name {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800; 
    color: white;
    margin: 5px;
    font-size: 22px;
}

.study-spot-star-rating {
    display: flex;
}

.star {
    width: 27px;
    margin: 0 5px;
}

.rating {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800; 
    color: white;
    font-size: 20px;
    margin: 12px 0px;
}

.review-card {
    background: #FDF7E9;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 40px 20px 40px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.review-title {
    margin: 0px 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    color: #E15C45;
    font-size: 20px;
}

.review-paragraph {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    margin: 5px 10px;
    font-size: 16px;
}

.divider {
    border: 1px solid black;
    margin: 10px 20px;
}

.icon {
    width: 27px;
    margin: 0 5px;
}

.rating-div {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800; 
    display: flex;
    justify-content: flex-start;
}

.rating-number {
    font-size: 20px;
    margin: 0px;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px 0px 0px;
}


.no-reviews-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-reviews-msg {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    color: white; 
}

.lofi-girl {
    width: 200px;
    border-radius: 50%;
}

.date-div {
    display: flex;
    justify-content: flex-end;
    margin: 0px 10px;
}

.date {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    margin: 10px;
}

.hello {
    text-align: center;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
}

.hello-text {
    font-size: 40px;
    margin: 10px;
}

@media screen and (min-width: 800px) {
    .review-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .hello-text {
        font-size: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .review-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }    

    .hello-text {
        font-size: 60px;
    }
}